<html>
    <head>
        <meta charset="utf-8">
        <title>Result | OCR Application</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    </head>
    <body>
        <center><h2>OCR Application using Flask</h2></center>
        <div class='container-fluid'>
            <div class="row">
                <div class='col-xs-12'>
                    <textarea readonly name="result" rows="8" cols='180'>
                        {{ text }}
                    </textarea>
                </div>
            </div>
        </div>

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
function showImage(event){
    uploadedImage = document.getElementById('ocrImage').files[0];
    console.log(uploadedImage);
    document.getElementById('uploadedImage').src = URL.createObjectURL(event.target.files[0]);
}

    </script>
</html>
